<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- HostName. Default value="localhost" -->
    <!-- <add key="HostName" value="localhost" /> -->
    <!-- HostPort. Default value="8800", Alternate value="10000" if SK is configured to be used without username. -->
    <add key="HostPort" value="8800" />
    <!-- UserName. Default value="user" -->
    <add key="UserName" value="Admin" />
    <!-- Password. Default value="pass" -->
    <add key="Password" value="admin" />
    <!-- RFXtrxPort. Default value="COM4" -->
    <!-- <add key="RFXtrxPort" value="COM4" /> -->
    <!-- Path to XML-Files. Default value=".\RFXtrx\" (translated to '...\Switch King Server\Plugin\RFXtrx\' directory) -->
    <!-- If altered either full path must be given, e.g. "C:\MyDataSource\", or relative from Plugin directory. -->
    <!-- <add key="FilePath" value=".\RFXtrx\" /> -->
    <!-- Threshold. Milliseconds. Default value="2000" -->
    <add key="Threshold" value="2000" />
    <!-- Path to DeviceStatusFiles. Default value=".\" (translated to '...\Switch King Server\Plugin\' directory) -->
    <!-- If altered Full path must be given, ie "C:\MyDataSources\" or relative from Plugin dirctory. -->
    <!-- <add key="StatusPath" value="C:\MyDataSource\" /> -->
    <!-- Append to DeviceStatusFiles if "true". Recomends only when debugging. -->
    <add key="Append" value="true" />
    <!--WriteToFile: Debug-files written at StatusPath if value="true" -->
    <add key="WriteToFile" value="true" />
  </appSettings>
</configuration>